In [41]:
import pandas as pd
import numpy as np
import os

In [42]:
# datasets
df1 = pd.read_csv('Dataset/dim_date.csv')
df2 = pd.read_csv('Dataset/dim_hotels.csv')
df3 = pd.read_csv('Dataset/dim_rooms.csv')
df4 = pd.read_csv('Dataset/fact_aggregated_bookings.csv')
df5 = pd.read_csv('Dataset/fact_bookings.csv')

In [43]:
df5.shape

(134590, 12)

##### df2 and df5 merge based on property_id

In [44]:

merged = df2.merge(df5, left_on="property_id", right_on="property_id" )

In [45]:
merged.head()

,property_id,property_name,category,city,booking_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,16558,Atliq Grands,Luxury,Delhi,May012216558RT11,2022-04-27,2022-05-01,2022-05-02,3,RT1,direct online,1.0,Checked Out,10010,10010
1,16558,Atliq Grands,Luxury,Delhi,May012216558RT12,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
2,16558,Atliq Grands,Luxury,Delhi,May012216558RT13,2022-04-28,2022-05-01,2022-05-04,2,RT1,logtrip,5.0,Checked Out,9100,9100
3,16558,Atliq Grands,Luxury,Delhi,May012216558RT14,2022-04-28,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
4,16558,Atliq Grands,Luxury,Delhi,May012216558RT15,2022-04-27,2022-05-01,2022-05-02,4,RT1,direct online,5.0,Checked Out,10920,10920

In [46]:
merged.shape

(134590, 15)

In [47]:
df1.head(2)

        date  mmm yy week no  day_type
0  01-May-22  May 22    W 19   weekend
1  02-May-22  May 22    W 19  weekeday

In [48]:
df2.head(2)

   property_id  property_name category    city
0        16558   Atliq Grands   Luxury   Delhi
1        16559  Atliq Exotica   Luxury  Mumbai

In [49]:
df3.head(2)

  room_category room_class
0           RT1   Standard
1           RT2      Elite

In [34]:
df4.head(2)

   property_id check_in_date room_category  successful_bookings  capacity
0        16559     01-May-22           RT1                   25        30
1        19562     01-May-22           RT1                   28        30

In [40]:
###

merged2 = df1.merge(df4, left_on="check_in_date", right_on="check_in_date" )

KeyError: 'check_in_date'

In [37]:
merged2.head()

,property_id,check_in_date,room_category,successful_bookings,capacity,property_name,category,city
0,16559,01-May-22,RT1,25,30,Atliq Exotica,Luxury,Mumbai
1,16559,01-May-22,RT2,35,41,Atliq Exotica,Luxury,Mumbai
2,16559,01-May-22,RT3,27,32,Atliq Exotica,Luxury,Mumbai
3,16559,01-May-22,RT4,17,18,Atliq Exotica,Luxury,Mumbai
4,16559,02-May-22,RT1,20,30,Atliq Exotica,Luxury,Mumbai