In [22]:
import pandas as pd
import datetime

In [23]:
# To get the week number from the corresponding date. 

# importing pandas as pd

df = pd.read_csv('/home/shrihith-a/Documents/Code_Basics/1_Hospitality_domain/Dataset/dim_date.csv')
data = pd.DataFrame(df['date'])
print(data.info)

<bound method DataFrame.info of          date
0   01-May-22
1   02-May-22
2   03-May-22
3   04-May-22
4   05-May-22
..        ...
87  27-Jul-22
88  28-Jul-22
89  29-Jul-22
90  30-Jul-22
91  31-Jul-22

[92 rows x 1 columns]>

In [24]:
import pandas as pd

# assuming that 'data' is a DataFrame with a 'date' column

# converting the date to the required format
data['date'] = pd.to_datetime(data['date'], errors='coerce')

# extracting the week from the date
weekNumber = data['date'].dt.week

print(weekNumber)

0     17
1     18
2     18
3     18
4     18
      ..
87    30
88    30
89    30
90    30
91    30
Name: date, Length: 92, dtype: int64

/tmp/ipykernel_65312/1680512693.py:9: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  weekNumber = data['date'].dt.week

In [27]:
data['weekNumber'] = weekNumber

In [28]:
data

         date  weekNumber
0  2022-05-01          17
1  2022-05-02          18
2  2022-05-03          18
3  2022-05-04          18
4  2022-05-05          18
..        ...         ...
87 2022-07-27          30
88 2022-07-28          30
89 2022-07-29          30
90 2022-07-30          30
91 2022-07-31          30

[92 rows x 2 columns]

In [16]:
import pandas as pd

# assuming that 'data' is a DataFrame with a column called 'date'
# that contains datetime values

# create a new column called 'dayofweek' that contains the weekday number
# where Monday=0 and Sunday=6
data['dayofweek'] = data['date'].dt.dayofweek

# map the dayofweek values to match PowerBI's weekday numbering
data['dayofweek'] = data['dayofweek'].map({0: 7, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6})

# categorize days as weekday or weekend based on the new definition
data['daytype'] = data['dayofweek'].apply(lambda x: 'Weekend' if x > 5 else 'Weekday')
daytype = data['daytype']

In [31]:
data['daytype'] = daytype

In [32]:
data

         date  weekNumber  daytype
0  2022-05-01          17  Weekend
1  2022-05-02          18  Weekend
2  2022-05-03          18  Weekday
3  2022-05-04          18  Weekday
4  2022-05-05          18  Weekday
..        ...         ...      ...
87 2022-07-27          30  Weekday
88 2022-07-28          30  Weekday
89 2022-07-29          30  Weekday
90 2022-07-30          30  Weekday
91 2022-07-31          30  Weekend

[92 rows x 3 columns]

In [ ]:
data.to_csv('/home/shrihith-a/Documents/Code_Basics/1_Hospitality_domain/Dataset/EDA_Filter_Dataset/date_Atliq.csv', index=False)