In [180]:
import pandas as pd
import numpy as np

In [181]:
# datasets
df1 = pd.read_csv('Dataset/dim_date.csv')
df2 = pd.read_csv('Dataset/dim_hotels.csv')
df3 = pd.read_csv('Dataset/dim_rooms.csv')
df4 = pd.read_csv('Dataset/fact_aggregated_bookings.csv')
df5 = pd.read_csv('Dataset/fact_bookings.csv')

In [182]:
df1.columns

Index(['date', 'mmm yy', 'week no', 'day_type'], dtype='object')

In [183]:
df2.columns

Index(['property_id', 'property_name', 'category', 'city'], dtype='object')

In [184]:
df3.columns

Index(['room_category', 'room_class'], dtype='object')

In [185]:
df4.columns

Index(['property_id', 'check_in_date', 'room_category', 'successful_bookings',
       'capacity'],
      dtype='object')

In [186]:
df5.columns

Index(['booking_id', 'property_id', 'booking_date', 'check_in_date',
       'checkout_date', 'no_guests', 'room_category', 'booking_platform',
       'ratings_given', 'booking_status', 'revenue_generated',
       'revenue_realized'],
      dtype='object')

# datasets
df1 = pd.read_csv('Dataset/dim_date.csv')
df2 = pd.read_csv('Dataset/dim_hotels.csv')
df3 = pd.read_csv('Dataset/dim_rooms.csv')
df4 = pd.read_csv('Dataset/fact_aggregated_bookings.csv')
df5 = pd.read_csv('Dataset/fact_bookings.csv')

df1.coloumns =Index(['date', 'mmm yy', 'week no', 'day_type'], dtype='object')
df2.coloumns = Index(['property_id', 'property_name', 'category', 'city'], dtype='object')
df3.coloumns = Index(['room_category', 'room_class'], dtype='object')
df4.coloumns = Index(['property_id', 'check_in_date', 'room_category', 'successful_bookings',
       'capacity', 'occupancy_rate', 'ADR', 'RevPAR'],
      dtype='object')
df5.coloumns = Index(['booking_id', 'property_id', 'booking_date', 'check_in_date',
       'checkout_date', 'no_guests', 'room_category', 'booking_platform',
       'ratings_given', 'booking_status', 'revenue_generated',
       'revenue_realized', 'week_no'],
      dtype='object')

#### To get the total revenue_realized

In [187]:
# calculate the sum of the revenue_realized column
revenue_sum = df5['revenue_realized'].sum()
revenue_sum

1708771229

In [188]:
from num2words import num2words

amount = 1708771229
amount_in_words = num2words(amount, to='currency', lang='en_IN')

print(amount_in_words)

one crore, seventy lakh, eighty-seven thousand, seven hundred and twelve euro, twenty-nine cents

### To get the total number of bookings happened

In [189]:
# Count the number of unique booking IDs
total_bookings = df5["booking_id"].nunique()

# Print the total number of bookings
print("Total Bookings:", total_bookings)

Total Bookings: 134590

### To get the total capacity of rooms present in hotels

In [190]:
# Sum up the capacity column
total_capacity = df4["capacity"].sum()

# Print the total capacity
print("Total Capacity:", total_capacity)

Total Capacity: 232576

### To get the total succesful bookings happened for all hotels

In [191]:
total_successful_bookings = df4["successful_bookings"].sum()

# Print the total successful bookings
print("Total Successful Bookings:", total_successful_bookings)

Total Successful Bookings: 134590

### Occupancy means total successful bookings happened to the total rooms available(capacity)

In [192]:
# Calculate the occupancy percentage
occupancy_percentage = total_successful_bookings / total_capacity * 100

# Round off the occupancy percentage to 2 decimal places
occupancy_percentage = round(occupancy_percentage, 2)

# Print the occupancy percentage
print("Occupancy %:", occupancy_percentage, "%")

Occupancy %: 57.87 %

### Get the average ratings given by the customers

In [193]:
# Average Rating = AVERAGE(fact_bookings[ratings_given])

average_rating  = df5['ratings_given'].mean()

average_rating = round(average_rating,2)

# print average ratings
print("Average Rating : ", average_rating)

Average Rating :  3.62

#### To get the total number of days present in the data.In our case, we have data from May to July. So 92 days.

In [194]:
# Convert the "date" column to datetime
df1["date"] = pd.to_datetime(df1["date"])

# Calculate the minimum and maximum dates present in the data
min_date = df1["date"].min()
max_date = df1["date"].max()

# Calculate the number of days between the minimum and maximum dates
no_of_days = (max_date - min_date).days + 1

# Print the number of days
print("No of days:", no_of_days)

No of days: 92

#### To get the"Cancelled" bookings out of all Total bookings happened

In [195]:

# Calculate the total number of cancelled bookings
total_cancelled_bookings = df5[df5["booking_status"] == "Cancelled"]["booking_id"].count()

# Print the total number of cancelled bookings
print("Total cancelled bookings:", total_cancelled_bookings)

Total cancelled bookings: 33420

#### "calculating the cancellaton percentage."

In [196]:
Cancellation_perc = total_cancelled_bookings / total_bookings * 100
Cancellation_perc = round(Cancellation_perc, 2)

print("Cancelleation % : ", Cancellation_perc)

Cancelleation % :  24.83

#### To get the successful 'Checked out' bookings out of all Total bookings happened

In [197]:
# Calculate the total number of checked-out bookings using the calculate() function
total_checked_out_bookings = pd.Series(
    df5["booking_status"]).apply(
        lambda x: True if x == "Checked Out" else False).sum()

# Print the total number of checked-out bookings
print("Total checked-out bookings:", total_checked_out_bookings)

Total checked-out bookings: 94411

In [198]:
total_checked_out = df5.loc[df5['booking_status'] == 'Checked Out', 'booking_id'].count()
print("Total checked-out bookings:", total_checked_out)

Total checked-out bookings: 94411

#### "To get the""No Show"" bookings out of all Total bookings happened 
#### (""No show"" means those customers who neither cancelled nor attend to their booked rooms)"

In [199]:
# Total no show bookings = CALCULATE([Total Bookings],fact_bookings[booking_status]="No Show")
total_no_show_bookings = df5.loc[df5['booking_status'] == 'No Show', 'booking_id'].count()
print("Total No Show Bookings : ", total_no_show_bookings)

Total No Show Bookings :  6759

#### calculating the no show percentage.

In [200]:
# No Show rate % = DIVIDE([Total no show bookings],[Total Bookings])
No_show_rate_perc = (total_no_show_bookings / total_bookings )* 100
No_show_rate_perc = round(No_show_rate_perc,2)
print("No Show rate % : ", No_show_rate_perc)

No Show rate % :  5.02

#### "To show the percentage contribution of each booking platform for bookings in hotels.
#### We have booking platforms like makeyourtrip, logtrip, tripster etc"

In [201]:
# "Booking % by Platform = DIVIDE([Total Bookings],CALCULATE([Total Bookings], ALL(fact_bookings[booking_platform])))*100"
booking_by_platform = df5.groupby('booking_platform')['booking_id'].count()
booking_pct_by_platform = (booking_by_platform / booking_by_platform.sum()) * 100
booking_pct_by_platform = round(booking_pct_by_platform,2)
print( "Booking % by Platform:", booking_pct_by_platform)

Booking % by Platform: booking_platform
direct offline     5.02
direct online      9.94
journey            6.02
logtrip           10.96
makeyourtrip      19.99
others            40.91
tripster           7.16
Name: booking_id, dtype: float64

#### "To show the percentage contribution of each room class over total rooms booked.
#### We have room classes like Standard, Elite, Premium, Presidential."

In [202]:
# Merge the two dataframes on the common key 'room_id'
df_room = pd.merge(df5, df3, on='room_category')

# Calculate the booking percentage by room class
Booking_Percentage_by_Room_Class = (df_room.groupby('room_class')['booking_id'].count() / df_room['booking_id'].count()) * 100

print(Booking_Percentage_by_Room_Class)

room_class
Elite           36.782079
Premium         22.710454
Presidential    11.942195
Standard        28.565272
Name: booking_id, dtype: float64

####  "Calculate the ADR(Average Daily rate) It is the ratio of revenue to the total rooms booked/sold. 
#### It is the measure of the average paid for rooms sold in a given time period"

In [203]:
# ADR = DIVIDE( [Revenue], [Total Bookings],0)
ADR = revenue_sum / df5[df5['booking_status'] != 'Cancelled']['booking_id'].count()
ADR = round(ADR,2)
print("Calculate the ADR(Average Daily rate): ", ADR)

Calculate the ADR(Average Daily rate):  16890.1

#### 16. "calculate  the realisation percentage. It is nothing but the succesful
####  ""checked out"" percentage over all bookings happened.

In [204]:
realization_percent = 1 - (Cancellation_perc + No_show_rate_perc)
realization_percent = round(realization_percent,2)
print(realization_percent)

-28.85

### Calculate the RevPAR(Revenue Per Available Room)RevPAR represents the revenue generated per available room, whether or not they are occupied. RevPAR helps hotels measure their revenue generating performance to accurately price rooms. RevPAR can help hotels measure themselves against other properties or brands.

In [205]:
# Calculate RevPAR for df4
df4['occupancy_rate'] = df4['successful_bookings'] / df4['capacity']
adr_map = df5.groupby('room_category')['revenue_generated'].mean()
df4['ADR'] = df4['room_category'].map(adr_map)
df4['RevPAR'] = df4['occupancy_rate'] * df4['ADR']
df4['RevPAR'] = df4['RevPAR'].round(2)

# Print RevPAR for each room category
print(df4[['room_category', 'RevPAR']])

     room_category    RevPAR
0              RT1   7880.00
1              RT1   8825.60
2              RT1   7249.60
3              RT1   6469.89
4              RT1   8958.31
...            ...       ...
9195           RT4  19836.38
9196           RT4  19836.38
9197           RT4  13732.88
9198           RT4  13732.88
9199           RT4  20599.31

[9200 rows x 2 columns]

In [206]:
df4.head(2)

,property_id,check_in_date,room_category,successful_bookings,capacity,occupancy_rate,ADR,RevPAR
0,16559,01-May-22,RT1,25,30,0.833333,9455.995292,7880.0
1,19562,01-May-22,RT1,28,30,0.933333,9455.995292,8825.6

#### "calculate DBRN(Daily Booked Room Nights) This metrics tells on average how many rooms are booked for a day considering a time period

In [207]:
# Convert date strings to datetime objects
df1['date'] = pd.to_datetime(df1['date'], format='%d-%b-%y')
df5['booking_date'] = pd.to_datetime(df5['booking_date'])

# Calculate total bookings and number of days
total_bookings = len(df5)
num_days = (df1['date'].max() - df1['date'].min()).days + 1

# Calculate DBRN
DBRN = total_bookings / num_days

# Round DBRN to 2 decimal places
DBRN = round(DBRN, 2)

# Print DBRN
print("DBRN:", DBRN)

DBRN: 1462.93

#### "calculate DSRN(Daily Sellable Room Nights) This metrics tells on average how many rooms are ready to sell for a day considering a time period

In [208]:
# DSRN = DIVIDE([Total Capacity], [No of days])
DSRN = df4['capacity'].sum() / num_days
DSRN

2528.0

In [209]:
# Calculate the total capacity of the property
total_capacity = df4['capacity'].sum()

# Calculate the number of days in the time period
no_of_days = df1['date'].nunique()

# Calculate DSRN
DSRN = total_capacity / no_of_days

print("DSRN:", DSRN)

DSRN: 2528.0

### "calculate DURN(Daily Utilized Room Nights) This metric tells on average how many rooms are succesfully utilized by customers for a day considering a time period

In [210]:
df5.head(2)

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,May012216558RT11,16558,2022-04-27,2022-05-01,2022-05-02,3,RT1,direct online,1.0,Checked Out,10010,10010
1,May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640

In [211]:
df1.head(2)

        date  mmm yy week no  day_type
0 2022-05-01  May 22    W 19   weekend
1 2022-05-02  May 22    W 19  weekeday

In [212]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df5, df1], axis=1)

# calculate DURN
total_checked_out = concatenated_df['booking_status'].str.count('Checked Out').sum()
no_of_days = concatenated_df['booking_date'].nunique()
DURN = total_checked_out / no_of_days
DURN = round(DURN,2)
print("DURN : ", DURN)

DURN :  813.89

In [213]:
df1_1 = pd.read_csv('Dataset/EDA_Filter_Dataset/date_Atliq.csv')
df1_1.head(2)

         date  weekNumber  daytype
0  2022-05-01          17  Weekend
1  2022-05-02          18  Weekend

#### To get the revenue change percentage week over week.Here, revcw  for current week revpw for previous week

In [214]:
# Merge the necessary columns from dim_date into fact_bookings
df5 = pd.merge(df5, df1_1[['date', 'weekNumber']], left_on='check_in_date', right_on='date', how='left')

# Calculate revenue WoW change percentage
selv = df1_1['weekNumber'].max()  # Get the current week number
revcw = df5[df5['weekNumber']==selv]['revenue_realized'].sum()  # Calculate revenue for the current week
revpw = df5[df5['weekNumber']==(selv-1)]['revenue_realized'].sum()  # Calculate revenue for the previous week
revenue_wow_change = (revcw / revpw) - 1  # Calculate WoW change percentage

In [215]:
revenue_wow_change

0.0040359983507789465

In [227]:
# Step 1: Combine df5 and df1 using pd.concat
df_concat = pd.concat([df5, df1[['date', 'week no']]], axis=1)

# Step 2: Calculate revenue for each week
revenue_by_week = df_concat.groupby(['property_id', 'week no'])['revenue_generated'].sum().reset_index()

# Step 3: Calculate WoW change percentage
revenue_by_week['revenue_wow_change'] = revenue_by_week['revenue_generated'].pct_change() * 100

# Display revenue by week with WoW change percentage
print(revenue_by_week)

    property_id week no  revenue_generated  revenue_wow_change
0         16558    W 19              66430                 NaN
1         16558    W 20              63700           -4.109589
2         16558    W 21              76930           20.769231
3         16558    W 22              90720           17.925387
4         16558    W 23              93240            2.777778
5         16558    W 24             107100           14.864865
6         16558    W 25             138880           29.673203
7         16558    W 26              26600          -80.846774
8         16559    W 26              68510          157.556391
9         16559    W 27              77350           12.903226
10        16559    W 28              80665            4.285714
11        16559    W 29              89590           11.064278
12        16559    W 30             113220           26.375712
13        16559    W 31             111690           -1.351351
14        16559    W 32              18360          -83.561644

#### To get the occupancy change percentage week over week.Here, revcw  for current weekrevpw for previous week

In [216]:
df4.head(2)

,property_id,check_in_date,room_category,successful_bookings,capacity,occupancy_rate,ADR,RevPAR
0,16559,01-May-22,RT1,25,30,0.833333,9455.995292,7880.0
1,19562,01-May-22,RT1,28,30,0.933333,9455.995292,8825.6

In [223]:
# Step 1: Merge df4 and df1 on check_in_date and date columns respectively
df = pd.merge(df4, df1[['date', 'week no']], how='left', left_on='check_in_date', right_on='date')

# Step 2: Calculate occupancy rate for each week
occupancy_by_week = df.groupby(['property_id', 'week no'])['occupancy_rate'].mean().reset_index()

# Step 3: Calculate WoW change percentage
occupancy_by_week['occupancy_wow_change'] = occupancy_by_week['occupancy_rate'].pct_change() * 100

# Display occupancy by week with WoW change percentage
print(occupancy_by_week)

     property_id week no  occupancy_rate  occupancy_wow_change
0          16558    W 19        0.726447                   NaN
1          16558    W 20        0.703506             -3.157957
2          16558    W 21        0.579966            -17.560674
3          16558    W 22        0.718479             23.883126
4          16558    W 23        0.611863            -14.839112
..           ...     ...             ...                   ...
345        19563    W 28        0.589327              3.011313
346        19563    W 29        0.581349             -1.353673
347        19563    W 30        0.449576            -22.666824
348        19563    W 31        0.480405              6.857404
349        19563    W 32        0.586303             22.043409

[350 rows x 4 columns]

#### To get the ADR(Average Daily rate) change percentage week over week.Here, revcw  for current weekrevpw for previous week

In [246]:
def calculate_adr_wow_change(df):
    df['adr_wow_change %'] = df.apply(lambda x: (
        x['ADR'] / df.loc[(df['property_id'] == x['property_id']) & (df['week no'] == 'W '+str(int(x['week no'][2:])-1)), 'ADR'].values[0] - 1
    ) * 100 if 'W '+str(int(x['week no'][2:])-1) in df.loc[df['property_id'] == x['property_id'], 'week no'].tolist() else np.nan, axis=1)
    return df

In [247]:
new_df = calculate_adr_wow_change(df)
new_df

,property_id,check_in_date,room_category,successful_bookings,capacity,occupancy_rate,ADR,RevPAR,date,week no,adr_wow_change %
0,16559,2022-05-01,RT1,25,30,0.833333,9455.995292,7880.00,2022-05-01,W 19,NaN
1,19562,2022-05-01,RT1,28,30,0.933333,9455.995292,8825.60,2022-05-01,W 19,NaN
2,19563,2022-05-01,RT1,23,30,0.766667,9455.995292,7249.60,2022-05-01,W 19,NaN
3,17558,2022-05-01,RT1,13,19,0.684211,9455.995292,6469.89,2022-05-01,W 19,NaN
4,16558,2022-05-01,RT1,18,19,0.947368,9455.995292,8958.31,2022-05-01,W 19,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9195,16563,2022-07-31,RT4,13,18,0.722222,27465.751260,19836.38,2022-07-31,W 32,190.458597
9196,16559,2022-07-31,RT4,13,18,0.722222,27465.751260,19836.38,2022-07-31,W 32,190.458597
9197,17558,2022-07-31,RT4,3,6,0.500000,27465.751260,13732.88,2022-07-31,W 32,190.458597
9198,19563,2022-07-31,RT4,3,6,0.500000,27465.751260,13732.88,2022-07-31,W 32,190.458597
9199,17561,2022-07-31,RT4,3,4,0.750000,27465.751260,20599.31,2022-07-31,W 32,190.458597